.card-two {
  position: relative;
  /* height: 250px; */
  /* width: 170px; */
  height: 34vh;
  width: 10vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 1px solid red; */

  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  /* background-color: beige; */
}
.card-name {
  padding: 10px;
  font-size: 1.7vh;
}
.card-number {
  padding: 20px;
  font-size: 4vh;
}
