.card-one {
  background-color: #000;
  position: relative;
  /* height:150px; */
  /* width: 200px; */
  height: 16vh;
  width: 12vw;

  /* border: 1px solid black; */
  /* margin: 5px; */
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
}
p {
  /* border: 1px solid; */
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
#p-1 {
  font-size: 4vh;
  /* font-family: ; */
  font-weight: 500;
}
#p-2 {
  font-size: 2.5vh;
  /* font-family: ; */
  margin-top: 15px;
  font-weight: 500;
}
#p-3{
  position: relative;

}
#p-3 button{
  margin-top: 10px;
  height:20px;
  width:75px;
  background-color: #4cc9f0;
  border: 0px solid;
  color: #fff;
  font-size: 17px;
  font-family: -webkit-pictograph;
}
