.card-one{
    background-color: #000;
    position: relative;
    height:150px;
    width: 200px;

    /* border: 1px solid black; */
    /* margin: 5px; */
    margin-left:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #fff;
 
}
p{
    /* border: 1px solid; */
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
#p-1{
    font-size: 30px;
    /* font-family: ; */
    font-weight: 500;
    
}
#p-2{
    font-size: 20px;
    /* font-family: ; */
    margin-top: 15px;
    font-weight: 500;
}