@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400&display=swap');

.login-page{
    text-align: center;
background: url("./unsplash_T0XLKgpyT_c.png") no-repeat ;
background-size: cover;
height : 100vh;
font-family:'League Spartan', sans-serif;
font-weight: 400;
}